# Pandas - Exercise

In [2]:
import pandas as pd

## Get the data

### Cumulative Covid-19 totals in the U.S. through June 30, 2020.

In [6]:
df = pd.read_csv("covid19_063020.csv")
df

           Date      County Province_State  Confirmed  Deaths
0       1/22/20     Autauga        Alabama          0       0
1       1/22/20     Baldwin        Alabama          0       0
2       1/22/20     Barbour        Alabama          0       0
3       1/22/20        Bibb        Alabama          0       0
4       1/22/20      Blount        Alabama          0       0
...         ...         ...            ...        ...     ...
522279  6/30/20  Unassigned       Virginia          0       0
522280  6/30/20  Unassigned     Washington         78       0
522281  6/30/20  Unassigned  West Virginia          5       0
522282  6/30/20  Unassigned      Wisconsin          0       0
522283  6/30/20  Unassigned        Wyoming          0       0

[522284 rows x 5 columns]

# EXERCISES:

## 1. How many Covid-related deaths have been reported in "Fresno" County as of "6/30/20"?

In [80]:
df.loc[(df["County"]=='Fresno') & (df["Date"]=='6/30/20'), "Deaths"].values[0]

72

## 2. How many Covid-related deaths have been reported in "California" as of "6/30/20"?

In [82]:
df.loc[(df['Date']=='6/30/20') & (df['Province_State']=='California'),'Deaths'].sum()

6083

## 3. How many confirmed Covid-19 cases have been reported in the U.S. as of "6/30/20"?

In [84]:
df.loc[(df['Date']=='6/30/20'),'Confirmed'].sum()

2616587

## 4. Create an additional feature "Death Rate" indicating the percentage of the confirmed cases that have died?

In [85]:
df["Death Rate"] = df["Deaths"]/df["Confirmed"]

## 5. Display the death rate for both Fresno and Merced Counties (as of 6/30/20)?

In [86]:
df.loc[((df["County"]=='Fresno') | (df["County"]=='Merced')) & (df["Date"]=='6/30/20'), ["County", "Death Rate"]]

        County  Death Rate
519235  Fresno    0.014966
519249  Merced    0.011236

## 6. Which county in California has no confirmed cases (as of 6/30/20)?

In [87]:
df.loc[(df["Date"]=='6/30/20') & (df["Province_State"]=='California') & (df["Confirmed"]==0), ["County", "Confirmed"]]

            County  Confirmed
519250       Modoc          0
522186   Out of CA          0
522237  Unassigned          0

## 7. Display the top-10 counties in California with the most Covid deaths (as of 6/30/20).

In [88]:
df.loc[(df["Date"]=='6/30/20') & (df["Province_State"]=='California'), 
       ['County', "Deaths"]].sort_values(by="Deaths", ascending=False)[:10]#.head(10)

                County  Deaths
519244     Los Angeles    3371
519258       Riverside     457
519262       San Diego     365
519255          Orange     340
519261  San Bernardino     253
519268     Santa Clara     156
519226         Alameda     135
519279          Tulare     126
519266       San Mateo     108
519238        Imperial      93